:root {
    --h2h3-font: 'Source Sans 3', sans-serif;
    --h2-color: #ACA7CB;
    --h3-color: #FFFFFF;
    --paragraph-font: 'Nunito Sans', sans-serif;
    --paragraph-color: black;
    --clear-background-color: rgba(172, 167, 203, 1);
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*********** FONT NUNITO SANS ET SOURCE SANS 3 ******************/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

    
/************* MENU ************/

/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

nav ul {
    background-color: var(--clear-background-color);
    width: 40%;
    border-radius: 16px;
    position: fixed;
    left: -100%;
    top: 5%;
    width: 90%;
    height: 40%;
    transition: 0.25s;
    }

nav li {
color: whitesmoke;
padding-top: 40px;
padding-left: 40px;
}

.burger {
    cursor: pointer;
    display: none;
    display: block;

}

.burger:before {
    content: "\2630"
}

.active .burger:before {
    content: "\2715";
}

nav.active ul {
    left: 0;
  }

nav h2 {
    color: var(--h2-font-color);
} */


/*********** BODY **************/
body {
    background-image: url(assets/background_big_white.png);

}

h2 {
    color: var(--h2-color);
    font-family: var(--h2h3-font);
    text-align: center;
    letter-spacing: 0.2rem;

}

.citation {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    font-size: 0.9rem;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    text-align: center;
}

#author {
    font-family: var(--paragraph-font);
    font-size: 0.9rem;
    padding-bottom: 10%;
    padding-top: 3%; 
    width: 33vh;
    margin: auto;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5%;
    
}

.adresse {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 30px;
}

h3 {
    font-family: var(--h2h3-font);
    color: var(--h3-color);
    width: 30%;
    height: 100%;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 30px;
    border: 9px solid #ACA7CB;
    background-color: #ACA7CB;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 a:link {
    color: var(--h3-color);
}

h3 a:visited {
    color: var(--h3-color);
}

.slogan {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

/*********************$ MEDIA QUERY DESKTOP *******************/
@media screen and (min-width: 1000px) {

    /*********** NAV ***********/

    /*********** BODY **********/

    h2 {
        font-size: 4rem;
        text-align: left;
        
    }

    .citation { 
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 12%;
        padding-right: 1%;
    }

    #author {
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        padding-top: 2%;
        position: relative;
    }

    img {
        width: 100vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        border-radius: 5%;

    }

    .adresse {
        font-size: 1.8rem;
        padding-top: 10%;
        padding-left: 3%;
    }

    h3 {
        width: 25%;
        margin-left: 39%;
        font-size: 2.3rem;
        margin-top: 8%;
    }

    .slogan{
        font-size: 1.8rem;
        padding-top: 8%;
        padding-bottom: 5%;
    }
}