/*************** C S S  V A R I A B L E S ****************/

:root{
    --main-font:'Nunito Sans', sans-serif;
    --h2-h3-font: 'Source Sans 3', sans-serif;
    --h1-font: 'Source Sans 3', sans-serif;
    --h1-font-color: rgba(71, 69, 84, 1);
    --h2-font-color: rgba(172, 167, 203, 1);
    --font-color-p-first: whitesmoke;
    --clear-background-color: rgba(172, 167, 203, 1);
    --dark-background-color: rgba(71, 69, 84, 1);
    --box-shadow: box-shadow: rgba(50, 50, 93, 0.3) 0px 13px 80px 25px, rgba(0, 0, 0, 0.9) 0px 0px 16px -5px;
    --text-shadow: px 0px 9px rgba(0,0,0,0.45);

    /* --background-image-mixed: url(./assets/background.png), rgba(172, 167, 203, 1); */
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');


/*********** G O O G L E  F O N T *************/

/* Nunito sans for the main text*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* Source Sans 3 for h2 and h3(not Source Sans Pro on fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

/* Fria sans for h1*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');


/**************** A L L  &  B O D Y ************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    text-decoration: none;
    color: black;
}

/***********HOME SCROLL ************* */
.homeScroll{
    background-image: url(/assets/background_big.png);
    opacity: 100%;
    height: 100vh;
    text-align: center;
}

.homeScroll hgroup{
    position: absolute;
    top: 20vh;
    left: 22vw;
    font-weight: bold;
}

.homeScroll h2{
    font-size: 5rem;
    text-shadow: 0px 0px 9px rgba(0,0,0,0.45);
    letter-spacing: 16px;
    color:var(--font-color-p-first);
}

.homeScroll h3{
font-size: large;
color: var(--font-color-p-first);
letter-spacing: 6px;
text-shadow: var(--text-shadow);
}

.homeScroll img{
    position: absolute;
    top: 68vh;
    left: 16vw;
}


/******************** H E A D E R ************************/
header h2, h3{
    font-family: var(--h2-h3-font);
}

.homeScroll{
    text-align: center;
}

/**************** M E N U  B U R G E R **************/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul{
    background-color: var(--dark-background-color);
    width: 40%;
    border-radius: 16px;
    position: fixed;
    left: -100%;
    top: 6%;
    width: 88%;
    height: 40%;
    transition: 0.25s;
    margin-left: 16px;
    z-index: 1;
}


nav li{
    padding-top: 40px;
    padding-left: 40px;
}

nav ul a{
    color: var(--font-color-p-first);
    font-size: larger;
    font-size: calc(0,5rem + 1,5vw);
}

#icons{
    cursor: pointer;
    display: block;
    width: 60px;
}

#icons:before{
    content: "\2630";
    font-size: xx-large;
    color: var(--h1-font-color);
}

.active #icons:before{
    content: "\2715";
    font-size: xx-large;

}

nav.active ul {
    left: 0;
}

      /******* UNDER NAV ********/

/* div #underNav{
    background-color: var(--dark-background-color);
    width: 40%;
    border-radius: 16px;
    position: fixed;
    left: -100%;
    top: 6%;
    width: 88%;
    transition: 0.25s;
    margin-left: 16px;
}

div #underNav li{
    padding-top: 8px;
    padding-left: 40px;
}

div #underNav ul a{
    color: var(--font-color-p-first);
    font-size: larger;
    font-size: calc(0,5rem + 1,5vw);
}

.active2 #icons:before{
    content: "\2715";
    font-size: xx-large;
}

nav.active2 ul {
    left: 0;
} */

/**** h2 NAV BARRE ****/

nav h2{
    color: var(--h2-font-color);
}

/* ******************* M A I N ******************************* */

/* ********* H GROUP ****************/
main hgroup{
    text-align: center;
    padding: 16px;
}

main hgroup h1{
    color: var(--h1-font-color);
    padding: 10px;
}

main hgroup p{
    color: var(--h2-font-color)
}

main hgroup h2{
    color: var(--h2-font-color);
}



/* ********** HOME CARD ************/
.homeGrid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(6, 120px);
    grid-gap: 24px;
    margin: 10px;
    padding: 16px;
}

.masterHomeCard, .studentHomeCard{
    border-radius: 24px;
    padding-top: 16px;
    padding-left: 16px;
    font-size: small;
}

/**************** M A S T E R  H O M E  C A R D S  ************/

/***** ALL HOME CARDS  *******/

.masterHomeCard p:first-of-type .studentHomeCardClear p:first-of-type, .studentHomeCardDark p:first-of-type{
    color: var(--font-color-p-first);
 }

a img{
    width: 10vw;
    height: auto;
    position: relative;
    top: 2vh;
    left: 22vw;
 }

 #apropos{
    width: 10vw;
    height: auto;
    position: relative;
    top: 7vh;
    left: 22vw;
 }

/**** ALL MASTER HOME CARDS  ****/

.masterHomeCard p:nth-child(2){
    font-weight: bold;
    color: var(--h2-font-color);
}

/**** FIRST MASTER HOME CARD  ****/

.masterHomeCard:first-of-type{
    background-color: var(--dark-background-color);
    color: var(--h2-font-color);
}

/**** SECOND MASTER HOME CARD  ****/

.masterHomeCard:nth-of-type(2){
    background-color: var(--clear-background-color);
    color: var(--h1-font-color);
 }

 .masterHomeCard:nth-of-type(2) p:nth-of-type(2){
    background-color: var(--clear-background-color);
    color: var(--dark-background-color);
 }

 /***** STUDENT HOME CARDS *******/

 /**** ALL STUDENTS HOME CARDS  ****/



  /**** CLEAR STUDENTS HOME CARDS  ****/

 .studentHomeCardClear{
    background-color: var(--clear-background-color);
    border-radius: 24px;
    padding-top: 16px;
    padding-left: 16px;
    font-size: small;
 }

 .studentHomeCardClear p:nth-child(2){
    font-weight: bold;
    margin-bottom: 3px;
    color: var(--dark-background-color);
 }

   /**** DARK STUDENTS HOME CARDS  ****/

 .studentHomeCardDark{
    background-color: var(--dark-background-color);
    border-radius: 24px;
    padding-top: 16px;
    padding-left: 16px;
    font-size: small;
 }

 .studentHomeCardDark p:nth-child(2){
    font-weight: bold;
    margin-bottom: 3px;
    color: var(--clear-background-color);
 }

 .studentHomeCardDark p:nth-child(3){
    color: var(--clear-background-color);
 }

/* *********** F O O T E R ***************************************/
footer {
    background-image: url(/assets/background_big.png);
    opacity: 100%;
    height: 100vh;
}

footer hgroup{
    margin: 24px;
    padding-top: 48px;
    text-align: justify;
}

footer h3{
    color: var(--font-color-p-first);
    margin-bottom: 16px;
    font-size: x-large;
}

footer p:first-of-type{
    color: var(--h1-font-color);
    margin-bottom: 16px;
    font-weight: bold;
}

footer p:nth-of-type(2){
    color: var(--font-color-p-first);
    margin-bottom: 6px;
}

footer p:nth-of-type(3){
    color: var(--font-color-p-first);
    margin-bottom: 40px;
}

footer button {
    width: 40%;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    box-shadow: var(--box-shadow);
    font-weight: bold;
}

footer button a{
    color: var(--clear-background-color);
    text-shadow: var(--text-shadow);
}

footer p:nth-of-type(4){
    color: var(--font-color-p-first);
    margin-bottom: 6px;
}

footer p:nth-of-type(5){
    color: var(--font-color-p-first);
}

.down{
    width: 46px;
    position: relative;
    top: 30vh;
    left: 43vw;
}

