/*************** C S S  V A R I A B L E S ****************/

:root{
    --main-font:'Nunito Sans', sans-serif;
    --h2-h3-font: 'Source Sans 3', sans-serif;
    --h1-font: 'Fira Sans', sans-serif;
    --h1-font-color: rgba(71, 69, 84, 1);
    --h2-font-color: rgba(172, 167, 203, 1);
    --clear-background-color: rgba(172, 167, 203, 1);
    --dark-background-color: rgba(71, 69, 84, 1);
    --default-font-color: whitesmoke;
    --white_background-color : #F4F4F4;
   }

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');



/*********** G O O G L E  F O N T *************/

/* Nunito sans for the main text*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* Source Sans 3 for h2 and h3(not Source Sans Pro on fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

/* Fira sans for h1*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

/**************** A L L  &  B O D Y ************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    text-decoration: none;
}

/**************** N A V  B A R R E **************/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.burger{
    cursor: pointer;
    display: none;
    display: block;
}

.burger:before{
    content: "\2630"
}

nav h2{
    color: var(--h2-font-color);
}
/***************** TOP PART *****************/

.top.block{
    width: 100%;
    height: auto;
}

.top.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top : 75%;
    color:var(--default-font-color);
}

.top.info>p{
    font-family:var(--h2-h3-font);
    padding-top: 8%;
    text-align: center;
}

.top.social-icons{
    display: flex;
    position:absolute;
    width: 70px;
    top: 510px;
    left: 260px;
    justify-content: space-between;
}

.badge{
    display: flex;
    position: absolute;
    top: 5px;
    right:5px;
    padding:2%;
}
a .arrowleft{
    border-radius: 50%;
box-shadow: rgba(50, 50, 93, 0.3) 0px 13px 80px 25px, rgba(0, 0, 0, 0.9) 0px 0px 16px -5px;
}

a .arrowright{
    border-radius: 50%;
box-shadow: rgba(50, 50, 93, 0.3) 0px 13px 80px 25px, rgba(0, 0, 0, 0.9) 0px 0px 16px -5px;
}
.arrowleft {
    display: flex;
    position: absolute;
    top: 50%;
    left:5px;

}

.arrowright {
    display: flex;
    position: absolute;
    top: 50%;
    right:5px;
}

/************* BOTTOM PART************/
.bottom {
    width:100%;
}
.buttonscroll{
    display: flex;
    position: absolute;
    left:145px;
    top:660px;
}
.bottom.social-icons{
    display: flex;
    flex-direction: row;
    position:absolute;
    width: 70px;
    top: 750px;
    left: 240px;
    justify-content: space-between;
}

.bottom.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:750px;
    color:var(--default-font-color);
}   

.bottom.info>p{
    width:100%;
    font-family:var(--h2-h3-font);
    font-size: 20px;
    padding: 8%;
    line-height: 2.5ch;

}
/************* BOTH ************/


.info>h2{
    font-family:var(--main-font);    
    padding-left: 8%;
    font-weight: lighter;
    font-size: 16px;
}

.info>h1{
    font-family:var(--h1-font);    
    padding-left: 8%;
    font-weight: bold;
    font-size:36px;
}

.social-icons img{
    top:400px;
    width:20px;
}

.contactbutton{
    display: flex;
    flex-direction: row;
    position:absolute;
    top:450px;
    left:125px;
    border-radius: 10px;
    width:30%;
    justify-content: center;
    padding: 2%;
    background-color: var(--white_background-color);
    box-shadow: rgba(50, 50, 93, 0.3) 0px 13px 80px 25px, rgba(0, 0, 0, 0.9) 0px 0px 16px -5px;
}

.contactbutton a{
        color: var(--dark-background-color);
}